<h1>User Profile</h1>

<div ng-show="username !== rootUsername">
  <button ng-show="!isFollowing" ng-click="follow(username)" class="btn btn-success">follow</button>
  <button ng-show="isFollowing" ng-click="unfollow(username)" class="btn btn-success">unfollow</button>
</div>

<form ng-show="username === rootUsername" ng-submit="addTweet(newTweet)">
  <textarea ng-model="newTweet" value="{{newTweet}}" name="newtweet" rows="8" cols="80" placeholder="What would you like to tweet about?"></textarea>
  <input type="submit" name="" value="Tweet">
</form>

<div class="">
  <h2>Username: {{username}}</h2>
  <h2>Tweets: {{numTweets}}</h2>
  <h2>Following: {{numFollowing}}</h2>
  <h2>Followers: {{numFollowers}}</h2>
  <h2>Likes: {{numLikes}}</h2>
</div>

<ul ng-repeat="tweet in allTweets">
  <li>
    <span class="retweeter" ng-if="tweet.retweeter">{{tweet.retweeter}} retweeted:</span><br>
    <a ui-sref="profile({username: tweet.username})">
      <strong>{{tweet.username}}</strong>
    </a>
    tweeted: "{{tweet.tweet}}"
    <div>
      <i ng-show="(tweet.username !== rootUsername)" ng-click="retweet(tweet._id)" class="fa fa-retweet" aria-hidden="true"></i>
      <i ng-show="((tweet.username !== rootUsername) && (rootLikes.indexOf(tweet._id) < 0)) || ((rootUsername === undefined) && (tweet.likes.length === 0))" class="fa fa-heart-o" ng-click="likeTweet(true, tweet._id)" aria-hidden="true"></i>
      <i ng-show="((tweet.username !== rootUsername) && (rootLikes.indexOf(tweet._id) >= 0)) || ((rootUsername === undefined) && (tweet.likes.length > 0))" class="fa fa-heart" ng-click="likeTweet(false, tweet._id)" aria-hidden="true"></i>
      <span>{{tweet.likes.length}}</span>
      <button ng-show="tweet.username === rootUsername" ng-click="removeTweet(tweet._id)" class="btn btn-danger" name="button">Remove</button>
    </div>
  </li>
</ul>


<!-- <ul ng-repeat="tweet in allTweets">
  <li>
    <span ng-if="tweet.retweeter">{{tweet.retweeter}} retweeted:</span><br>
    <a ui-sref="profile({username: tweet.username})">
      <strong>{{tweet.username}}</strong>
    </a>
    tweeted: "{{tweet.tweet}}"
    <div ng-show="rootUsername">
      <i ng-show="(tweet.username !== rootUsername)" ng-click="retweet(tweet._id)" class="fa fa-retweet" aria-hidden="true"></i>
      <i ng-show="(tweet.username !== rootUsername) && (rootLikes.indexOf(tweet._id) < 0)" class="fa fa-heart-o" ng-click="likeTweet(true, tweet._id)" aria-hidden="true"></i>
      <i ng-show="(tweet.username !== rootUsername) && (rootLikes.indexOf(tweet._id) >= 0)" class="fa fa-heart" ng-click="likeTweet(false, tweet._id)" aria-hidden="true"></i>
      <span>{{tweet.likes.length}}</span>
      <button ng-show="tweet.username === rootUsername" ng-click="removeTweet(tweet._id)" class="btn btn-danger" name="button">Remove</button>
    </div>
  </li>
</ul> -->
